.container {
position: relative;
top: 100px;
background: orange;
width: 350px;
padding: 20px;
border-radius: 10px;
border: 2px solid black;
box-shadow: 12px 12px 10px;
}

#center {
text-align: center;
font-size: x-large;
font-weight: bolder;
}