.login {
    position: relative;
    width: 350px;
    height: 156px;
    top: 30px;
    left: 29%;
    background: #eaeef0;
    border-radius: 4px;
}

.logout {
    position: relative;
    width: 230px;
    height: 118px;
    top: 30px;
    left: 36.1%;
    background: #eaeef0;
    border-radius: 4px;
}